{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
{% load static %}

{% block contenido %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Trading Bot</h1>
        </div>

        <!-- Trading View Candelstick -->
        <div class="row">

            <div class="col-lg-12 mb-4">

                <!-- Text 2 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-cogs text-primary "></i> Trading Bot Configuration</h6>
                    </div>
                    <div class="card-body">
                        Future Adds On will be here to configure an Automatic Bot Configuration, in order to follow an strategy to trade.
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}