{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
{% load static %}

{% block contenido %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cryptocurrency Prices</h1>
        </div>

        <!-- Trading View Candelstick -->
        <div class="row">

            <div class="col-lg-12 mb-4">

                <!-- Text 2 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-list text-primary "></i> Coin List</h6>
                    </div>
                    <div class="card-body">
                        <script src="https://widgets.coingecko.com/coingecko-coin-list-widget.js"></script>
                        <coingecko-coin-list-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" locale="es"></coingecko-coin-list-widget>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fab fa-bitcoin text-primary "></i> Bitcoin Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="bitcoin" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="bitcoin" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fab fa-ethereum text-primary "></i> Ethereum Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="ethereum" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="ethereum" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-chart-line text-primary "></i> Bitcoin Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="litecoin" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="litecoin" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-chart-line text-primary "></i> Ripple Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="Ripple" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="Ripple" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}