{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
{% load static %}

{% block contenido %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-primary" style="text-shadow: black 1px 1px">Cryptocurrency Prices</h1>
        </div>

        <!-- Trading View Candelstick -->
        <div class="row">

            <div class="col-lg-12 mb-4">

                <!-- Text 2 -->
                <div class="card shadow mb-4 bg-gray-900 border-dark">
                    <div class="card-header py-3 bg-gray-900 border-dark">
                        <h6 class="m-0 font-weight-bold text-light" style="text-shadow: black 1px 1px"><i class="fa fa-list text-light "></i> Coin List</h6>
                    </div>
                    <div class="card-body">
                        <script src="https://widgets.coingecko.com/coingecko-coin-list-widget.js"></script>
                        <coingecko-coin-list-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#3a3b45" locale="es" font-color="#ffffff"></coingecko-coin-list-widget>
                    </div>
                </div>

                <div class="card shadow mb-4 bg-gray-900 border-dark">
                    <div class="card-header py-3 bg-gray-900 border-dark">
                        <h6 class="m-0 font-weight-bold text-light" style="text-shadow: black 1px 1px"><i class="fab fa-bitcoin text-light "></i> Bitcoin Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="bitcoin" locale="en" background-color="#3a3b45" font-color="#ffffff" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="bitcoin" background-color="#3a3b45" font-color="#ffffff" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4 bg-gray-900 border-dark">
                    <div class="card-header py-3 bg-gray-900 border-dark">
                        <h6 class="m-0 font-weight-bold text-light" style="text-shadow: black 1px 1px"><i class="fab fa-ethereum text-light "></i> Ethereum Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="ethereum" background-color="#3a3b45" font-color="#ffffff" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="ethereum" background-color="#3a3b45" font-color="#ffffff" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4 bg-gray-900 border-dark">
                    <div class="card-header py-3 bg-gray-900 border-dark">
                        <h6 class="m-0 font-weight-bold text-light" style="text-shadow: black 1px 1px"><i class="fa fa-chart-line text-light "></i> Litecoin Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="litecoin" background-color="#3a3b45" font-color="#ffffff" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="litecoin" background-color="#3a3b45" font-color="#ffffff" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4 bg-gray-900 border-dark">
                    <div class="card-header py-3 bg-gray-900 border-dark">
                        <h6 class="m-0 font-weight-bold text-light" style="text-shadow: black 1px 1px"><i class="fa fa-chart-line text-light "></i> Ripple Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                            <coingecko-coin-price-chart-widget currency="usd" coin-id="Ripple" background-color="#3a3b45" font-color="#ffffff" locale="en" height="300"></coingecko-coin-price-chart-widget>
                        </div><br>
                        <div class="text-center">
                            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
                            <coingecko-coin-ticker-widget currency="usd" coin-id="Ripple" background-color="#3a3b45" font-color="#ffffff" locale="en"></coingecko-coin-ticker-widget>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}