{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
{% load static %}

{% block contenido %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Assets Transacction Logs</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="myFunction_print()"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            <script>
                function myFunction_print() {
                    window.print();
                }
            </script>
        </div>

        <!-- Trading View Candelstick -->
        <div class="row">

            <div class="col-lg-12 mb-4">

                <!-- Text 2 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-cogs text-primary "></i> Transacction BUY</h6>
                    </div>
                    <div class="card-body">
                        {% for foo in log_in %}
                            <li>{{ foo }}</li><hr>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-cogs text-primary "></i> Transacction SELL</h6>
                    </div>
                    <div class="card-body">
                        {% for foo in log_out %}
                            <li>{{ foo }}</li><hr>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}